//kolor przycisków
$color-btn: #C89225;

//kolor przewodni
$color-main: #505523;

//kolor elementów, ramek
$color-el: #6C6437;

//kolor ozdob
$color-extra: #D88434;

//kolor liter
$color-letter: #4A2B1F;