@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Nunito+Sans:wght@200;400;600;700;900&display=swap');

// tekst font
$font-primary: 'Nunito Sans', sans-serif;

// logo font
$font-logo: 'Fredericka the Great', cursive;

// bazowy rozmiar czcionki
$font-size: 14px;

//rozmiar logo
$font-size-logo: 30px;

// background image
