@import "src/scss/variables/all";

.footer-container {
  font-family: $font-primary;
  font-size: 2em;
  max-height: 4em;
}

.footer {
  display: block;
  background-color: $color-main;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-div1 {
  color: $color-letter;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-div2 {
  color: $color-letter;
  padding-right: 2em;

  h4 {
    padding-bottom: 0.4em;
  }
}

  h4 {
    margin-bottom: 1em;
  }
  #copyright {
    display: flex;
    background-color: $color-extra;
    justify-content: center;
    align-items: center;
  }
.footer--copyright {
  height: 1.5em;
  width: 100%;
  background-color: $color-extra;
  display: block;
  text-align: center;

  .a-copy {
    color: $color-letter;
    font-size: 0.5em;
  }

  .a-plan {
    color: $color-letter;
    font-size: 0.5em;
  }
}
.iconsAwesome {
  background-color: $color-extra;
  .fa-bicycle {
    display: flex;
    position: relative;
    right: 45rem;
  }
}