@import "src/scss/variables/all";

.footer-container {
  font-family: $font-primary;
  font-size: 2em;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-main;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-div1 {
  color: white;

  h4 {
    padding-bottom: 1.3em;
  }
}

.footer-div2 {
  color: white;
  margin-right: 2em;
  h4 {
    padding-bottom: 0.4em;
  }
}

.footer-div3 {
  color: white;

  h4 {
    margin-bottom: 1em;
  }

  .footer-input {
    position: absolute;
    width: 9em;
  }

  .footer-button {
    color: white;
    background-color: $color-btn;
    position: relative;
    transform: translate(9em);
  }


  }


.footer--copyright {
  height: 3em;
  background-color: $color-extra;
  display: flex;
  justify-content: center;
  align-items: center;

  .a-copy {
    color: white;
  }
  .a-plan{
    color: $color-extra;
  }
}