@import "src/scss/normalize/normalize";
@import "src/scss/variables/all";

.hero{
  h2{
    font-size: $font-size-logo;
    color: $color-letter;
    display: inline-block;
    margin-top: 4em;
  }
}
.hero__navigation{

}

.hero__list{
  font-family: $font-logo;
  color: $color-letter;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
}
.hero__list-el {
  &:hover{
    color: $color-extra;
  }
}
.hero__img {
  display: inline-block;
  height: 35px;
  background-color: $color-main;

}
